/*header*/
.header_logo {
    width: 100%;
    margin-top: 5rem;
}

.header_icone {
    margin-right: 100px;

}

/*body*/

.separation {
    background-color: #000;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

text {  
    font-family: 'Secular One', sans-serif;
    font-family: 'Lato', sans-serif;
}

H1 {
    font-family: 'Secular One', sans-serif;
    font-size: 3rem;
    text-align: center;
    margin-top: 4rem;
}

p {
    line-height: 2.9rem;
}

span  {
    font-weight: bold;
}

.image {
    margin-top: 3rem;
    width: 100%;
}

blockquote {
    font-size: 1.5rem;
    text-align: right;
    margin-right: -1px;
    margin-top: -2px;
}

.btn {
    font-family: 'Secular One', sans-serif;
    font-size: 2rem;
    display: block;
    height: 7rem;
    width: 24rem;
    margin: auto;
    margin-top: 5rem;
    background-color: #00000000;
    border-color: #000;
    padding: 1rem;
    margin-bottom: 6rem;
}

    